
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form id="Ejercicio2" method="post" action="Login">
        <h3>Ingrese el usuario</h3>
        <input type="text" name="usuario" /><br /><br />

        <h3>Ingrese la contraseña</h3>
        <input type="text" name="contraseña" /><br /><br />

        <input type="submit" value="Ingresar" />
        <input type="reset" value="Limpiar" />
    </form> 
</body>
</html>
