
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h2>Ejercicio 2</h2>
                @using (Html.BeginForm("ExtraerJson", "Json", FormMethod.Post))
                {
                    <h5>Ingrese el json a decodificar</h5>
                    <textarea class="form-control" rows="8"></textarea>
                    <br />
                    <button type="submit">Decodificar</button>
                    <button type="reset">Limpiar</button>
                }
                <br />
                <hr />

                <p><b>Ejemplo de Json</b></p>
                <br />
                <p style="text-align: justify;">[["knew",489,150,26,133,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would tell",491,538,24,113,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["were/was",551,148,27,129,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would inform",550,472,28,163,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["won",606,152,25,118,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would travel",610,518,27,120,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["went",664,185,26,108,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would be",667,596,25,112,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would work",721,127,29,136,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["spoke",723,527,21,101,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["wouldn$t do",782,116,27,163,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["were/was",779,517,28,123,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["became",835,136,26,136,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would change",835,575,27,141,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["flew",924,149,26,138,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would visit",921,525,28,169,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["knew",980,171,24,111,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would be",976,587,31,132,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would be",1039,164,27,109,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["had",1036,546,24,108,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["passed",1095,177,22,104,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would go",1091,565,26,107,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["cut",1149,182,25,104,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0],["would look",1151,534,26,133,"",0,"Arial","14","0000CC","255","255","255","0.5","666666","","","1","4",0]]'</p>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
